/* Navbar.css */
.home-container {
  padding: 20px; /* Optional padding for the whole content area */
}

.gray-block {
  background-color: #fffdfb; /* Slightly gray color */
  border-radius: 10px; /* Border radius for rounded corners */
  padding: 20px; /* Optional padding inside the block */
  margin: 20px 0; /* Margin from top and bottom */
  position: absolute;
  top: 130px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.2); 
  box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.2);
  color: #CEDEBD;
}
