/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background-color: #FAF1E4;
  color: white;
  border-bottom: 8px solid #e1eed3;
}


.leftPart img {
    height: 100px;
    width: auto;
    transition: transform 0.3s ease; /* Add transition property */
  }

.leftPart img:hover {
transform: scale(1.1); /* Enlarge the logo by 10% */
}

.rightPart {
  display: flex;
  gap: 1rem;
}

.rightPart a {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: 0px;
    color: #435334;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 10px;
}

.activeLink {
    text-decoration: underline;
}

.rightPart a:hover {
    color: #9EB384;
}